<section class="property-binding">
  <!-- <article>
    <h3>Interpolation / Interpolação</h3>

    <p>String renderizada com interpolação: {{ url }}</p>
    <p>O resultado de 1 + 1 é {{ 1 + 1 }}</p>
    <p>O resultado de 1 + 1 não é {{ 1 + 1 + getValor() }}</p>
    <p>
      Curso de Angular e estou curtindo: {{ cursoAngular && curtirCurso() }}
    </p>
  </article>

  <article>
    <h3>Property Binding</h3>

    <img src="{{ urlImagem }}" />
    <img [src]="urlImagem" />
  </article>

  <article>
    <h3>Class and Style Binding</h3>

    <div>
      Selecione uma classe
      <select #classe (event)="0">
        <option value="alert-info">Info</option>
        <option value="alert-success">Success</option>
        <option value="alert-warning">Warning</option>
        <option value="alert-danger">Danger</option>
      </select>

      <br /><br />

      <div class="alert {{ classe.value }}}">
        Texto colorido conforme a classe selecionada
      </div>

      <div class="alert" role="alert" [class.alert-info]="classe.value == 'alert-info'">
        This is a info alert—check it out!
      </div>

      <div class="alert" role="alert" [class.alert-success]="classe.value == 'alert-success'">
        This is a success alert—check it out!
      </div>

      <div class="alert" role="alert" [class.alert-warning]="classe.value == 'alert-warning'">
        This is a warning alert—check it out!
      </div>

      <div class="alert" role="alert" [class.alert-danger]="classe.value == 'alert-danger'">
        This is a danger alert—check it out!
      </div>

      <div
        class="alert" role="alert alert-danger"
        [style.display]="classe.value === 'alert-danger' ? 'block' : 'none'">
      >
        This is a danger alert—check it out!
      </div>
    </div>
  </article> -->

  <article>
    <h3>Event Binding</h3>

    <div>
      <button
        class="btn btn-primary"
        (click)="informarQueOBotaoFoiClicado()"
      >
        Me clique!
      </button>

      <br><br>

      <input
        type="text"
        (keyup)="onKeyUp($event)"
        (keyup.enter)="salvarValor(campoInput.value)"
        (blur)="salvarValor(campoInput.value)"
        #campoInput
      />

      <p>Valor digitado: {{ valorAtual }}</p>
      <p>Valor salvo: {{ valorSalvo }}</p>
      <p>Valor após evento blur: {{ valorSalvo }}</p>

      <br>

      <span
        (mouseover)="onMouseOverOut()"
        (mouseout)="onMouseOverOut()"
        [class.highlight]="isMouseOver"
      >
        Passe o mouse sobre mim!
      </span>
    </div>
  </article>
</section>
